:host {
    display: flex;
    justify-content: stretch;
    --fs-offcanvas-overlay-color: var(--dark-color);
    --fs-offcanvas-overlay-opacity: 0.5;
    --fs-offcanvas-overlay-z-index: 2;
    --fs-offcanvas-z-index: 2;
    --fs-offcanvas-width: 300px;
    --fs-offcanvas-max-width: 320px;
    --fs-offcanvas-background-color: var(--light-color);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--fs-offcanvas-overlay-color);
    opacity: var(--fs-offcanvas-overlay-opacity);
    z-index: var(-fs-offcanvas-overlay-z-index);
}
.overlay.is-primary {
    --fs-offcanvas-overlay-color: var(--primary-color-dark);
}
.overlay.is-link {
    --fs-offcanvas-overlay-color: var(--link-color-dark);
}
.overlay.is-info {
    --fs-offcanvas-overlay-color: var(--info-color-dark);
}
.overlay.is-success {
    --fs-offcanvas-overlay-color: var(--success-color-dark);
}
.overlay.is-warning {
    --fs-offcanvas-overlay-color: var(--warning-color-dark);
}
.overlay.is-danger {
    --fs-offcanvas-overlay-color: var(--danger-color-dark);
}



aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--fs-offcanvas-width);
    max-width: var(--fs-offcanvas-max-width);
    background-color: var(--fs-offcanvas-background-color);
    z-index: var(--fs-offcanvas-z-index);
    padding: 0.5em 2em;
}

aside.is-primary {
    --fs-offcanvas-background-color: var(--primary-color-light);
}
aside.is-link {
    --fs-offcanvas-background-color: var(--link-color-light);
}
aside.is-info {
    --fs-offcanvas-background-color: var(--info-color-light);
}
aside.is-success {
    --fs-offcanvas-background-color: var(--success-color-light);
}
aside.is-warning {
    --fs-offcanvas-background-color: var(--warning-color-light);
}
aside.is-danger {
    --fs-offcanvas-background-color: var(--danger-color-light);
}

aside.is-right {
    right: 0;
    left: initial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.delete {
    --delete-color: var(--dark-color);
}